body{
    font-family: 'Sriracha', cursive;
    background-image:linear-gradient(to right, rgb(245, 104, 205) ,rgb(250, 102, 102), rgb(255, 9, 161));;
}
#camera{
    border-style: inset;
    width: 400px;
    height:300px;
}
#header{
    border-style: inset;
    border-width: 5px;
    font-size: large;
    width: 80%;
}
#picture{
    border-style: inset;
    width: 400px;
    height:300px;
}
